body {
    margin: 0;
}

#him {
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    border: none;
    display: block;
}

.head-block {
    position: absolute;
    width: 100%;

    text-align: center;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    margin: 5px;
}

.logo{
    position: absolute;
    padding: 5px;
    margin: 5px;
}

.head-centr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;

    padding: 20px;
    margin: 20px;
}

#user_block{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 20px;
    margin: 20px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-left: 50px;
}

.avatar {
    border-radius: 50%;
}

.av-ico-pos{
    border-radius: 50%;
    border: 4px solid white;

    position: absolute;
    width: 33px;
    height: 33px;

    top: 70%;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-ico{
    width: 17px;
    height: 17px;
}

.user-imgs{
    position: relative;
    display: block;
    width: 122px;
    height: 122px;
    margin: 8px;
    padding: 8px;
}

.color1{
    background: red;
}

.color2{
    background: #72ff94;
}

.color3{
    background: #ffe35f;
}

.color4{
    background: #2f49ff;
}

.user-head{
    margin: 8px;
}

.user-bio{
    margin: 8px;
}

.see-other-partners{
    display: flex;
    width: 192px;
    height: 40px;
    border: 4px solid red;
    border-radius: 40px;
    text-align: center;
    color: red;
    align-items: center;
    justify-content: center;
}
